@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: rgb(15 23 42);
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer components {
  .navbar {
    @apply fixed left-0 top-0 z-50 w-full bg-slate-900 px-10;
    animation: navbar-scroll linear forwards;
    animation-timeline: scroll();
    animation-range: 0 calc(100vh - 4rem);
  }
  .navbar-title {
    @apply text-[10vw] font-bold;
    animation: navbar-scroll-title linear forwards;
    animation-timeline: scroll();
    animation-range: 0 calc(100vh - 4rem);
  }
  .nav-spin-wrap {
    @apply inline-block size-[7vw];
    animation: nav-spin-wrap-ani linear forwards;
    animation-timeline: scroll();
    animation-range: 0 calc(100vh - 4rem);
  }
  .nav-spin {
    @apply inline-block h-full w-full rounded-full border-[5px] border-b-red-500;
    animation: nav-spin-ani 1s linear infinite;
  }
  .navbar-icon {
    @apply relative size-[3vw] translate-y-[100%] scale-50 rounded-full opacity-0;
    animation: navbar-scroll-icon linear forwards;
    animation-timeline: view();
    animation-range: 100vh;
  }
}

@keyframes navbar-scroll {
  from {
    height: 100vh;
  }
  to {
    height: 4rem;
  }
}
@keyframes navbar-scroll-title {
  to {
    font-size: 3vw;
  }
}
@keyframes nav-spin-wrap-ani {
  to {
    width: 2vw;
    height: 2vw;
  }
}
@keyframes nav-spin-ani {
  to {
    transform: rotate(360deg);
  }
}
@keyframes navbar-scroll-icon {
  to {
    width: 3vw;
    height: 3vw;
    opacity: 100;
    transform: translateY(0) scale(1);
  }
}

.grid-container {
  > :nth-child(odd) {
    background-color: rgb(0, 0, 0);
  }
  > :nth-child(even) {
    background-color: #263038;
  }
  > :hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.loader[data-id="884BF2AC"] {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader[data-id="6DDA7C00"] {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.loader[data-id="B948BDDD"] {
  width: 48px;
  height: 48px;
  border-radius: 50%;

  position: relative;
  animation: rotation 1s linear infinite;
  &::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    border-radius: 50%;
    border: 5px solid #fff;
    animation: prixClipFix 2s linear infinite;
  }
}
@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

input[data-id="39CD2F6F"] {
  display: none;
  + label {
    width: 100px;
    height: 30px;
    background-color: #ff3d00;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 5px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: white;
      transition: 0.3s;
      transform: translateY(-50%);
    }
  }
  &:checked + label {
    background-color: blue;
    &::before {
      left: calc(100% - 25px);
      transition: 1s;
    }
  }
}
input[data-id="16C4C0CE"] {
  display: none;
  + label {
    width: 100px;
    height: 30px;
    background-color: blue;
    border-radius: 30px;
    position: relative;
    cursor: pointer;
    transition: 0.5s;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 5px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: white;
      transition: 0.3s;
      transform: translateY(-50%);
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      /* rotate: 0; */
      transform-origin: top;
    }
  }
  &:checked + label {
    background-color: red;
    &::before {
      left: calc(100% - 25px);
      transition: 1s;
      rotate: 360deg;
    }
  }
}
